@model IEnumerable<SYSTEM_MANAGEMENT.Models.USER_METAS>

@{
    ViewBag.Title = "Index";
}
@{ 
    var user_meta = Model.SingleOrDefault();
}
<html>
<head>

    <style>
        #profile-image1 {
        cursor: pointer;
  
         width: 100px;
        height: 100px;
	    border:2px solid #03b1ce ;}
	    .tital{ font-size:16px; font-weight:500;}
	     .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	
    </style>
</head>
<body>
    <div class="container" >
        <div class="row">
            <div class="col-md-7 ">
                <div class="panel panel-default"  >
                    <div class="panel-heading">  <h4>Thông tin của @Session["FULLNAME"]</h4></div>
                    <div class="panel-body" style="height:auto;">

                        <div class="box box-info" style="height:auto;">

                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <img alt="User Pic" src="/Content/images/@Session["AVATAR"]" id="profile-image1" class="img-circle img-responsive">

                                        <input id="profile-image-upload" class="hidden" type="file">

                                        <!--Upload Image Js And Css-->
                                    </div>

                                    <br>

                                    <!-- /input-group -->
                                </div>

                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;">@Session["FULLNAME"] </h4></span>
                                    <span><p>@user_meta.DEPARTMENT.DEPARTMENT_NAME </p></span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">


                                <div class="col-sm-5 col-xs-6 tital ">Họ và Tên :</div><div class="col-sm-7 col-xs-6 ">@user_meta.USER.FULLNAME</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Ngày sinh:</div><div class="col-sm-7"> @user_meta.BIRTHDAY.ToString("dd/MM/yyyy")</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Giới tính:</div><div class="col-sm-7"> @user_meta.SEX</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Số điện thoại:</div><div class="col-sm-7">@user_meta.NUMBER_PHONE</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">@user_meta.USER.EMAIL</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Ngày vào công ty:</div><div class="col-sm-7">@user_meta.START_TIME.ToString("dd/MM/yyyy")</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Thâm niên:</div><div class="col-sm-7">@user_meta.SENIORITY</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Quê quán:</div><div class="col-sm-7">@user_meta.NATIVE_LAND</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Trình độ học vấn:</div><div class="col-sm-7">@user_meta.LITERACY</div>

                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>








<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SEX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMBER_PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENIORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NATIVE_LAND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LITERACY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT.DEPARTMENT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USER.USERNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SEX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTHDAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.START_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMBER_PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENIORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NATIVE_LAND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LITERACY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT.DEPARTMENT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER.USERNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
